---
import BaseHead from '../../components/BaseHead.astro';
import SiteHeader from '../../components/SiteHeader.astro';
import SiteFooter from '../../components/SiteFooter.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

// const posts = (await getCollection('liturgy')).sort(
// 	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
const posts = (await getCollection('liturgy')).sort(
	(a, b) => a.data.id.localeCompare(b.data.id)
);


// †
---

<!doctype html>
<html lang="en" data-color-theme="dark">
	
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body class="site-layout">

		<SiteHeader />

		<main class="site-main">
			<ol class="post-list stack">
				{
					posts.map((post) => (
						<li class="post-item" data-date={post.data.date.setFullYear(2021)} data-upcoming="false">
							<a class="post-item__link cluster" href={`/weekly/${post.slug}/`}>
								<div class="post-item__meta">
									<span class="marker">►</span>
									{post.data.id}
								</div>
								<div class="post-item__meta">
									<FormattedDate date={post.data.date}></FormattedDate>
								</div>
								<h2 class="post-item__title min-inline-size:0">
									<div class="overflow-ellipsis">{post.data.title}</div>
								</h2>
							</a>
						</li>
					))
				}
			</ol>
		</main>

		<SiteFooter />

	</body>

</html>

<script is:inline>
let today = new Date();
today.setFullYear(2021);
today.setHours(0, 0, 0, 0);

let posts = document.querySelectorAll('[data-date]');
posts.forEach((post) => {
	if (today <= post.dataset.date) {
		post.dataset.upcoming = true;
	}
});
</script>

<style>
	.site-main {
		max-inline-size: 100%;
	}

	.post-list {
		list-style: none;
		margin: 0;
		overflow: scroll;
		padding: 0;
	}

	.post-item {
		border-bottom: 1px solid var(--color-text);
		margin-block: 0;
		
		* {
			color: inherit;
			margin-block: 0;
		}

		.marker {
			color: var(--color-accent);
			display: none;
		}
	}

	[data-upcoming="true"] {
		color: var(--color-accent);

		.marker {
			display: inline;
		}

		.post-item__link:hover,
		.post-item__link:focus-visible {
			background-color: var(--color-accent);
			color: var(--color-bg);

			.marker {
				color: var(--color-bg);
			}
		}

		+ [data-upcoming="true"] {
			color: var(--color-text);

			.marker {
				display: none;
			}

			.post-item__link:hover,
			.post-item__link:focus-visible {
				background-color: var(--color-text);
			}
		}
	}

	.post-item__link {
		align-items: flex-start;
		column-gap: var(--space-xs-2xl);
		flex-wrap: nowrap;
		padding-block: var(--space-2xs);
		row-gap: 0;
		white-space: nowrap;
		text-decoration: none;
		transition: 0.1s linear;

		&:hover,
		&:focus-visible {
			background-color: var(--color-text);
			color: var(--color-bg);
		}
	}

	.post-item__meta {
		font-family: var(--font-mono);
		font-size: var(--font-size--1);
		line-height: 1.1;
	}

	.post-item__title {
		font-size: var(--font-size--1);
	}
</style>