---
import Archive from "../layouts/Archive.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getCollection } from "astro:content";

// const posts = (await getCollection('liturgy')).sort(
// 	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );

// const posts = (await getCollection('liturgy')).sort(
// 	(a, b) => a.data.week.localeCompare(b.data.week)
// );

const part1 = (
  await getCollection("liturgy", ({ id }) => {
    return id.startsWith("part-1/");
  })
).sort((a, b) => a.data.week.localeCompare(b.data.week));

const part2 = (
  await getCollection("liturgy", ({ id }) => {
    return id.startsWith("part-2/");
  })
).sort((a, b) => a.data.week.localeCompare(b.data.week));
---

<Archive class="stack">
  <h2 class="section-heading">Part 1: A Time of Planting and Harvest</h2>
  <ol class="post-list stack">
    {
      part1.map((post) => (
        <li
          class="post-item"
          data-date={post.data.date.setFullYear(2024)}
          data-upcoming="false"
        >
          <a class="post-item__link cluster" href={`/posts/${post.slug}/`}>
            <div class="post-item__meta">{post.data.week}</div>
            <div class="post-item__meta">
              <FormattedDate date={post.data.date} />
            </div>
            <h2 class="post-item__title min-inline-size:0">
              <div class="overflow-ellipsis">{post.data.title}</div>
            </h2>
          </a>
        </li>
      ))
    }
  </ol>

  <h2 class="section-heading">Part 2: Reflections on Death</h2>
  <ol class="post-list stack">
    {
      part2.map((post) => (
        <li
          class="post-item"
          data-date={post.data.date.setFullYear(2024)}
          data-upcoming="false"
        >
          <a class="post-item__link cluster" href={`/posts/${post.slug}/`}>
            <div class="post-item__meta">{post.data.week}</div>
            <div class="post-item__meta">
              <FormattedDate date={post.data.date} />
            </div>
            <h2 class="post-item__title min-inline-size:0">
              <div class="overflow-ellipsis">{post.data.title}</div>
            </h2>
          </a>
        </li>
      ))
    }
  </ol>

  <!-- <h2 class="section-heading">Part 3: Reshaped by Hope and New Life</h2> -->
  <!-- <h2 class="section-heading">Part 4: Children of the Resurrection</h2> -->
</Archive>

<script is:inline>
  let today = new Date();
  today.setFullYear(2024);
  today.setHours(0, 0, 0, 0);
  // today = 1734286658000; // testing

  let posts = document.querySelectorAll("[data-date]");
  posts.forEach((post, i) => {
    if (today < post.dataset.date) {
      post.dataset.upcoming = true;
    }
  });
</script>

<style>
  :global(.site-main) {
    max-inline-size: 100%;
  }
</style>
