---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE } from "../consts";

type Props = CollectionEntry<"liturgy">["data"];

const { title, description, week, date, readings } = Astro.props;
---

<html lang="en" data-user-theme="dark">
  <head>
    <BaseHead title={week + "—" + title} description={description} />
  </head>

  <body>
    <SiteHeader />

    <main class="site-main">
      <article class="post" data-post-date={date}>
        <header class="post-header">
          <div class="post-header__inner stack">
            <div class="post-nav">
              <a class="site-title" href="/">
                {SITE_TITLE}
              </a>
            </div>
            <h1 class="post-title">{title}</h1>
            {
              readings && readings.length > 0 && (
                <div class="post-readings prose">
                  <h2 class="section-heading">Readings</h2>
                  <ul class="post-list stack">
                    {readings.map((reading) => (
                      <li class="post-item">
                        {reading.url ? (
                          <div class="cluster">
                            <span class="post-item__title">
                              {reading.title}
                            </span>
                            <a
                              aria-label="External link to reading"
                              href={reading.url}
                            >
                              ►
                            </a>
                          </div>
                        ) : (
                          <span class="post-item__title">{reading.title}</span>
                        )}
                      </li>
                    ))}
                  </ul>
                </div>
              )
            }
            <div class="post-meta" data-date={date} data-active="false">
              <span class="sr-only">Week and Start Date:</span>
              {week}<span class="spacer"></span>
              <FormattedDate date={date} />
            </div>
          </div>
        </header>
        <div class="prose stack">
          <slot />
        </div>
      </article>

      <SiteFooter />
    </main>
  </body>
</html>

<script is:inline>
  // Check if today is within 7 days of post date on page load
  const postDateStr = document.querySelector("article.post").dataset.postDate;
  const dateEl = document.querySelector(".post-meta");

  if (postDateStr && dateEl) {
    // Get today's date
    let today = new Date();
    today.setFullYear(2024);
    today.setHours(0, 0, 0, 0);

    // Do the date comparison
    let postDate = new Date(postDateStr);
    postDate.setFullYear(2024);
    const daysDifference = Math.ceil(
      (postDate.getTime() - today.getTime()) / (1000 * 3600 * 24)
    );
    const isWithinSevenDays = daysDifference >= -7 && daysDifference <= 0;

    // Add class or data attribute to body for CSS targeting
    if (isWithinSevenDays) {
      dateEl.dataset.active = "true";
    }
  }
</script>

<style>
  :global(.site-header) {
    .site-title {
      @media (min-width: 1040px) {
        visibility: hidden;
      }
    }
  }

  :global(.site-main) {
    padding-block-start: 0 !important;
  }

  .spacer {
    display: inline-block;
    inline-size: var(--space-xs);
  }

  .post {
    @media (min-width: 1040px) {
      display: grid;
      gap: var(--site-gutter);
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "h p p";
    }

    @media (min-width: 1100px) {
      gap: var(--space-xl);
      padding-inline-end: calc(var(--space-xl) - var(--site-gutter));
    }
  }

  .prose {
    margin-block-start: var(--space-xl-2xl);

    @media (min-width: 1040px) {
      grid-area: p;
      margin-block-start: calc(50vh - var(--site-gutter) * 3);
    }
  }

  .post-header {
    max-inline-size: 80ch;
    margin-inline: auto;
    text-align: center;

    @media (min-width: 1040px) {
      grid-area: h;
      text-align: left;
    }
  }

  .post-header__inner {
    overflow: hidden;
    padding-block-start: var(--space-section);

    @media (min-width: 1040px) {
      block-size: calc(100vh - var(--site-gutter) * 2);
      border: 1px solid var(--color-border);
      margin-block-start: calc(-1 * var(--site-gutter) * 2);
      padding: var(--site-gutter) var(--site-gutter);
      position: sticky;
      top: var(--site-gutter);
    }

    @media (width < 1040px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "t"
        "m"
        "r";
    }
  }

  .post-nav {
    .site-title {
      display: none;

      @media (min-width: 1040px) {
        display: flex;
      }
    }
  }

  .post-title {
    font-family: var(--font-serif-display);
    font-size: var(--font-size-3);
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
    margin-block: var(--space-stack) auto;
    min-inline-size: 10ch;
    text-wrap: balance;

    @media (width < 1040px) {
      grid-area: t;
      margin-block-start: 0;
    }

    @media (min-width: 600px) {
      font-size: var(--font-size-4);
    }

    @media (min-width: 700px) {
      font-size: var(--font-size-5);
    }

    @media (min-width: 1040px) {
      font-size: var(--font-size-4);
    }

    @media (min-width: 1400px) and (min-height: 800px) {
      font-size: var(--font-size-5);
    }

    @media (min-width: 1600px) and (min-height: 975px) {
      font-size: var(--font-size-6);
    }

    @media (height < 880px) {
      font-size: var(--font-size-4);
    }

    @media (height < 750px) {
      font-size: var(--font-size-3);
    }

    @media (height < 680px) {
      font-size: var(--font-size-2);
    }
  }

  .post-readings {
    font-size: var(--font-size-0);
    font-family: var(--font-serif);
    inline-size: 100%;
    margin-block: var(--space-l) 0;
    margin-inline: auto;
    max-inline-size: min(var(--measure), 85vw);
    overflow-y: auto;
    scrollbar-color: var(--color-text) var(--color-bg);
    text-align: left;

    @media (min-width: 1040px) {
      margin-inline: 0;
    }

    @media (width < 1040px) {
      grid-area: r;
    }

    h2 {
      @media (min-width: 1040px) {
        &::after {
          display: none;
        }
      }
    }

    ul {
      list-style: none;
      margin-block: var(--space-2xs) 0;
      padding-inline-start: 0;
    }
  }

  .post-meta {
    font-family: var(--font-mono);
    font-size: var(--font-size--1);
    font-weight: 400;
    inline-size: fit-content;
    margin-block-start: var(--space-l);

    @media (width < 1040px) {
      grid-area: m;
      margin-block-start: var(--space-xs);
      margin-inline: auto;
    }

    &[data-active="true"] {
      color: var(--color-accent);
      position: relative;

      &::before {
        align-items: center;
        block-size: 100%;
        color: var(--color-accent);
        content: "►";
        display: flex;
        font-size: var(--font-size--1);
        font-family: var(--font-mono);
        position: absolute;
        left: -1.25ch;
      }
    }
  }

  .post-item {
    .cluster {
      justify-content: space-between;
    }

    a {
      color: var(--color-border);
      display: flex;
      font-family: var(--font-mono);
      font-size: var(--font-size--1);
      padding-block: var(--space-3xs);
      padding-inline: var(--space-m) 0;
      text-decoration: none;

      &:hover,
      &:focus-visible {
        color: var(--color-accent);
      }
    }
  }

  .post-item__title {
    display: flex;
    font-family: var(--font-serif);
    font-size: var(--font-size-0);
    font-weight: 400;
    padding-block: calc(var(--space-2xs) * 1.125);
  }
</style>
